# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Jupyter
.ipynb_checkpoints/

# Выходные файлы (генерируются автоматически)
output.xlsx
output_test.xlsx
output*.xlsx
result_*.xlsx

# Временные файлы Microsoft Office
~$*.xlsx
~$*.docx

# Кэш Python
new/__pycache__/

